
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/DataTables/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/DataTables/fixedColumns.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/css/DataTables/jqueryDataTables.popupInput.css" rel="stylesheet" />
</head>
<body>

    <div class="overlay">
        <br />
        <br />
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <strong style="font-size: 25px">Jquery Datables</strong>
                    <a class="popup btn btn-success pull-right" href="@Url.Action("InserUpdate","Home", new {id = 0})">Add New Employee</a>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-condensed" id="myDatatable" width="100%">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>City</th>
                                <th>Country</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>City</th>
                                <th>Country</th>
                                <th>
                                    <div style="display: inline-block; width: 100px">
                                        Actions
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>City</th>
                                <th>Country</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />



    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/DataTatables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTatables/dataTables.fixedColumns.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(document).ready(function () {
            // Setup - add a text input to each header cell
            $('#myDatatable thead tr:eq(0) th:not(:last)').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');
            });

            var oTable = $('#myDatatable').DataTable({
                "scrollX": true,
                "fixedColumns": {
                    leftColumns: 1,
                    rightColumns: 1
                },
                "ajax": {
                    "url": '/home/GetEmployees',
                    "type": "get",
                    "datatype": "json"
                },
                "columnDefs": [
                    { "className": "dt-center", "targets": 5 }
                ],

                "columns": [
                    { "data": "FirstName", "width": "200px" },
                    { "data": "LastName", "width": "100px" },
                    { "data": "Email", "width": "200px" },
                    { "data": "City", "width": "100px" },
                    { "data": "Country", "width": "120px" },
                    {
                        "data": "EmployeeId",
                        "width": "200px",
                        "orderable": false,
                        "render": function (data) {
                            return '<a class="popup update btn btn-primary btn-xs" href="/home/InserUpdate/' + data + '">Edit</a>' + " " +
                                '<a class="popup delete btn btn-danger btn-xs" href="/home/delete/' + data + '">Delete</a>';
                        }
                    },
                    //{
                    //    "data": "EmployeeId",
                    //    "width": "50px",
                    //    "orderable": false,
                    //    "render": function (data) {
                    //        return '<a class="popup btn btn-danger btn-xs" href="/home/delete/' + data + '">Delete</a>';
                    //    }
                    //}
                ]
            });

            // Individual Column Searching In case of Some Fixed Column
            $(oTable.table().container()).on('focusout', 'thead input', function () {
                oTable.column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();
            });

            var $dialog;
            function openPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                var wWidth = $(window).width();
                
                $('.overlay').addClass("blur");
                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: false,
                        autoOpen: false,
                        show: {
                            effect: "fade",
                            duration: 700
                        },
                        hide: {
                            effect: "explode",
                            duration: 500
                        },
                        resizable: false,
                        model: true,
                        buttons: {
                            "Submit": function(e) {
                                $("#popupForm").submit();
                            },
                            Cancel: function() {
                                $dialog.dialog( "close" );
                            }
                        },
                        position: { my: "center", at: "top+100" },
                        overlay: { opacity: 0.9, background: "black" },
                        //title: "",
                        height: 'auto',
                        width: wWidth > 800 ? 700 : wWidth * 0.8,
                        
                        close: function () {
                            $dialog.dialog('destroy').remove();
                            $('.overlay').removeClass("blur");
                        }
                    });

                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    });

                    e.preventDefault();
                });

                $dialog.dialog('open');
            }

            $('.panel-heading').on('click', 'a.popup', function (e) {
                e.preventDefault();
                openPopup($(this).attr('href'));
                $dialog.dialog({ title: "Create New Employee" });
            });
            $('#myDatatable').on('click', 'a.popup.update', function (e) {
                e.preventDefault();
                openPopup($(this).attr('href'));
                $dialog.dialog({ title: "Update Employee" });
            });
            $('#myDatatable').on('click', 'a.popup.delete', function (e) {
                e.preventDefault();
                openPopup($(this).attr('href'));
                $dialog.dialog({ title: "Delete Employee" });
            });


            //$('#myDatatable').on('shown.bs.collapse', function () {
            //    $($.fn.dataTable.tables(true)).DataTable()
            //        .columns.adjust();
            //});

            //$('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
            //    $($.fn.dataTable.tables(true)).DataTable()
            //        .columns.adjust();
            //});


        });
    </script>
</body>
</html>
